{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<ul class="bxslider">
  <li>
    <div class="sliders slider-1">
      <span class="extrabold" style="font-size:113px;">CHRYSTUS</span>
      <span class="light" style="font-size:54px; margin-top: 50px;">W STARYM MIEŚCIE.</span>
      <span class="petit yellow" style="font-size:48px; margin-top: 30px;">Spotkaj Go.</span>

      <span class="light" style="font-size:24px; margin-top: 50px;">KAŻDY OSTATNI CZWARTEK MIESIĄCA.</span>
      <span class="light" style="font-size:24px;">BAZYLIKA MARIACKA, KRAKÓW, <b style="font-weight:800;">19:30</b></span>
    </div>
  </li>

  <li>
    <div class="sliders slider-2">
      <span class="extrabold" style="font-size:113px;">CHRYSTUS</span>
      <span class="light" style="margin-top: 50px; font-size:54px; ">W STARYM MIEŚCIE.</span>
      <span class="petit yellow" style="margin-top: 30px; margin-bottom: 50px; font-size:48px;">Spotkaj Go.</span>
      <div id="countdown"></div>
    </div>
  </li>
</ul>
