{{!< default}}

{{#post}}
  <div class="google-maps">
    <img src="{{asset 'images/ajax-loader.gif'}}" alt="loader">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10245.264610835822!2d19.9393903!3d50.06164055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b11f53a5077%3A0xdd371e3071dcbf32!2sbazylika+mariacka!5e0!3m2!1sen!2s!4v1386036826005" scrolling="no" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
  </div>

  <main class="contact content" role="main">
    <article class="post page">
      <section class="post-content">
        <div class="left">
          <span class="bold darkBlue" style="font-size: 59px; margin-bottom: 20px;">CHCESZ DO</span><br/>
          <span class="light darkBlue" style="font-size: 37px;">NAS TRAFIĆ? PRZYJDŹ!</span>
        </div>

        <div class="arrowMiddle"></div>

        <div class="right">
          <span class="bold darkBlue" style="font-size: 24px;">CHRYSTUS W STARYM MIEŚCIE.</span>
          <span class="light darkBlue" style="font-size:18px;">BAZYLIKA MARIACKA,<br/>RYNEK GŁÓWNY, KRAKÓW</span>
        </div>
      </div>

      <div class="contact-emails violet-background">{{content}}</div>

      <div class="newsletter violet-background">
        <span class="light" style="font-size:24px;">Chcesz dostawać newsletter?<br/>Zapisz się!</span>
        <div class="clear"></div>

        <div class="newsletter-form">
          <input type="text" placeholder="TWÓJ ADRES EMAIL" />
          <a id="subscribe-newsletter">WYŚLIJ</a>
        </div>

        <div class="clear"></div>

        <div class="join-us">
          <span class="light" style="font-size:18px;">Dołącz do nas!</span>
        </div>
      </section>
    </article>
  </main>
{{/post}}
