<footer class="footer">
  <div class="footWrap">
    <div class="topRow">
      <div class="topRowright">
        <div class="menu">
          <ul>
            <li><a href="{{@blog.url}}/>">o adoracji</a></li>
            <li><a href="{{@blog.url}}/>co-dalej">co dalej</a></li>
            <li><a href="{{@blog.url}}/>dlaczego-i-kto">dlaczego i kto</a></li>
            <li><a href="{{@blog.url}}/>kontakt">kontakt</a></li>
          </ul>
        </div>
      </div>

      <div class="topRowleft">
        <a class="logo" href="<?php echo rootpatch; ?>">CHRYSTUS W STARYM MIESCIE</a>
      </div>
    </div>

    <div class="bottomRow">
      <div class="bottomRowright">
        <ul>
          <!-- <li class="pineterest"><a href="#">pineterest</a></li> -->
          <li class="facebook"><a target="_blank" href="https://www.facebook.com/ChrystusWStarymMiescie">facebook</a></li>
          <!-- <li class="twitter"><a href="#">twitter</a></li> -->
        </ul>
      </div>
      <div class="bottomRowleft">CHRYSTUS W STARYM MIESCIE © 2012 - 2014</div>
    </div>
  </div>

  <div class="clear"></div>
</footer>
